/*
* @Author: ha.h
* @Date:   2017-05-16 16:08:18
* @Last Modified by:   ha.h
* @Last Modified time: 2017-05-16 16:16:16
*/
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
   float: left;
}

.col-sm-12 {
   width: 100%;
}

.col-sm-11 {
   width: 91.66666666666666%;
}

.col-sm-10 {
   width: 83.33333333333334%;
}

.col-sm-9 {
    width: 75%;
}

.col-sm-8 {
    width: 66.66666666666666%;
}

.col-sm-7 {
    width: 58.333333333333336%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-5 {
    width: 41.66666666666667%;
}

.col-sm-4 {
    width: 33.33333333333333%;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-2 {
      width: 16.666666666666664%;
}

.col-sm-1 {
    width: 8.333333333333332%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
    width: 91.66666667%;
}
.col-lg-10 {
    width: 83.33333333%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-8 {
    width: 66.66666667%;
}
.col-lg-7 {
    width: 58.33333333%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-5 {
    width: 41.66666667%;
}
.col-lg-4 {
    width: 33.33333333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-2 {
    width: 16.66666667%;
}
.col-lg-1 {
    width: 8.33333333%;
}

.break-now {page-break-after: always; page-break-before: always;}

@page {
  size: A4;
  margin: 50px 0px 30px;
}